* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    background-image: url(./Images/header.png);
    width: 1000px;
    height: 25vh;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    
}


.header {
    display: flex;
    align-items: center;
    justify-content: center;
}