@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Salsa', cursive;
    font-size: 16px;
    line-height: 1.6;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(120deg, #191414, #1db954, #191414);
    margin-top: 80px;
}



/* Add these styles to create a small header image with rounded edges */
.header-image {
    position: fixed;
    top: 10px;
    left: 10;
    width: 800px; /* Adjust the width of the header image as needed */
    height: 80px; /* Adjust the height of the header image as needed */
    border-top-left-radius: 10px; /* Set the border-radius for rounded edges */
    overflow: hidden;
}

.header-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Adjust the main content to make space for the header image */




.fadeIn {
    opacity: 0;
    visibility: hidden;
    animation: fadeInAnimation 0.5s ease forwards;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
        visibility: hidden;
    }

    to {
        opacity: 1;
        visibility: visible;
    }
}


.icons {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 3em; /* Adjust the font size as needed */
    color: #ffffff; /* Set the color of the icons */
}

.ion-person:hover {
    color: #b6b6b6;
}

.ion-ios-musical-notes:hover {
    color: #b6b6b6;
}


#number {
    font-size: 15px;
}



/* test */

/* Add styles for the results wrapper */
.results-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh; /* Adjust the height as needed */
    overflow-y: auto; /* Enable vertical scrolling */
}

/* Add styles for the results grid */
#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Add styles for the individual result items */
.column.artist.item,
.column.track.item {
    flex: 0 0 calc(20% - 20px); /* Adjust the width as needed with proper spacing */
    margin: 10px;
    text-align: center;
}

.column.artist.item img,
.column.track.item img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.column.artist.item h4,
.column.track.item h4 {
    margin-top: 0px;
    font-size: 14px;
}

/* Media query for smaller screens */
@media only screen and (max-width: 767px) {
    .column.artist.item,
    .column.track.item {
        flex: 0 0 calc(40% - 20px); /* Adjust the width for smaller screens */
    }

    .column.artist.item h4,
    .column.track.item h4 {
        font-size: 16px;
    }
}
